services:
  mariadb:
    image: mariadb
    container_name: mariadb
    build: requirements/mariadb
    env_file: .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    ports:
      - "3306:3306"
    restart: always

  nginx:
    image: nginx
    container_name: nginx
    build: requirements/nginx
    env_file: .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - mariadb
      - wordpress
    ports:
      - "443:443"
    restart: always

  wordpress:
    image: wordpress
    container_name: wordpress
    env_file: .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - mariadb
    build: requirements/wordpress
    expose:
      - "9000"
    restart: always

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '/home/cisse/data/wordpress'

  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '/home/cisse/data/mariadb'

networks:
  inception:
    driver: bridge
    name: inception
