services:
  mariadb:
    container_name: mariadb
    build: requirements/mariadb
    env_file: .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    ports:
      - "3306:3306"
    restart: always

  nginx:
    container_name: nginx
    build: requirements/nginx
    env_file: .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - mariadb
      - wordpress
    ports:
      - "443:443"
    restart: always

  wordpress:
    container_name: wordpress
    env_file: .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - mariadb
    build: requirements/wordpress
    expose:
      - "9000"
    restart: always

  adminer:
    container_name: adminer
    env_file: .env
    networks:
      - inception
    depends_on:
      - mariadb
    build: requirements/bonus/adminer
    ports:
      - "8080:80"
    environment:
      ADMINER_DEFAULT_SERVER: mariadb
    restart: always

  static-website:
    container_name: static-website
    networks:
      - inception
    depends_on:
      - nginx
    build: requirements/bonus/static-website
    ports:
      - "8081:80"
    # restart: always

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HOME}/data/wordpress
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${HOME}/data/mariadb

networks:
  inception:
    driver: bridge
