@font-face {
    font-family: "poppins";
    src: url("fonts/poppins.ttf");
}
body {
    margin: 0;
    font-family: poppins;
}
a{
    text-decoration: none;
}
.border-radius {
    border-radius: 12px;
    padding: 4px 14px;
    cursor: pointer;
}
.border-radius:hover {
    transform: scale(1.06);
}
.color_white {
    color: #fff;
}
.color_blue {
    color: #2d96c8;
}
.color_red{
    color: #ef5466;
    }
.color_grey_light {
    color: #f9f9f9;
}
.color_grey {
    color:#8e8e94;
}
.back_blue {
    background-color: #2d96c8;
    color: #fff;
}
.back_red{
    background-color: #ef5466;
    color: #fff;
    }
.back_grey_light {
    background-color: #f9f9f9;
}
.back_grey {
    background-color:#8e8e94;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 50px;
    border-bottom: solid 3px #f9f9f9;

}
header .logo_header {
    width: auto;
    height: 22px;
  
}
header nav ul li {
    display: inline;
    margin-left: 20px;
    font-size: 18px;
}
header nav ul li a {
    color: black;
    font-weight: bold;
}
header nav ul .link_connexion {
    background-color: #fff;
    color: #2d96c8;
    border-color: #2d96c8;
}
header nav ul .link_inscription {
    background-color: #2d96c8 ;
    color: #fff;
    border-width: 1px;
}
header .logo_nav {
    display: none;
}
/******************************************************************/
.offre {
    display: flex;
    padding: 0 10px 0 12em;
    justify-content: center;
    /*height: 250px;
    overflow-y: hidden*/
}
.offre .offre_contenu {
    flex-direction: column;
}
.offre .offre_contenu .titre_offre {
    font-size: 38px;
    margin-top: 30px;
}
.offre .offre_contenu .titre_offre + div {
    color: #ef5466;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
.offre .offre_contenu .button_offre .button_premium {
    color: #fff;
    background-color: #ef5466;
    border-color: #ef5466;
    margin-right: 20px;
    border-width: 1px;
}
.offre .offre_contenu .button_offre .button_gratuit {
    background-color: #fff;
    border-width: 2px;
}
.offre .offre_img img {
    height: 370px;
    width: auto;
    margin-left: 50px;
    /*object-fit:cover;*/
}
/***************************************************************************/
.presentation {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: #f9f9f9;
}
.presentation img {
    height: 630px;
    width: auto;
    /*margin-right: 25px;*/
}
.presentation .ensemble_contenu {
    flex-direction: column;
}
.presentation .ensemble_contenu .ensemble_presentation{
    display: flex;
    margin-right: ;
}
.presentation .ensemble_contenu .contenu_presentation {
    width: 330px;
    margin-left:25px;
}
.presentation .ensemble_contenu .titre_présentation {
    font-size: 25px;
    margin-bottom: 20px ;
    margin-left: 25px;
    font-weight: bold;
}
.presentation .ensemble_contenu .sous_titre_presentation {
    font-size: 18px;
    font-weight: 600;
}
/****************************************************************************************************************/
.bande_rouge {
    padding: 20px 0;
    justify-content: center;
    background-color: #ef5466;
    display: flex;
}
.bande_rouge .logo_bande_rouge {
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.bande_rouge .logo_bande_rouge i {
    font-size: 34px;
    color: #fff;
    margin-left: 20px;
    
}
.bande_rouge .contenu_bande_rouge {
    width: 360px;
    color: #fff;
}
.bande_rouge .contenu_bande_rouge .titre_bande_rouge {
    font-size: 32px;
    margin-bottom: 20px;
}
/*************************************************************************************/
.prix {
    display: flex;
    align-items: center;
    padding: 40px 0;
    flex-direction: column;
    
}

.prix .titre_prix {
    text-align: center;
}
.prix .titre_prix .titre_contenu {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}
/*.prix .titre_prix .titre_contenu +div {
    color: #8e8e94;
}
.prix .titre_prix .logo_prix i {
    color: #2d96c8;
}*/
.prix .contenu_prix {
    display: flex;
    justify-content: center;
}
.prix .contenu_prix .prix_deezer {
    /*border : solid 2px black;*/
    /*height:370px;
    width: 220px;*/
    margin:5px 5px 0 0;
    text-align: center;
    padding: 25px;
    box-shadow: 4px 4px 8px #8e8e94;
    
}
.prix .contenu_prix .prix_deezer .titre_prix_deezer {
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: bold;
}
.prix .contenu_prix .prix_deezer .titre_prix_deezer + div {
    margin-bottom: 25px;
}
.prix .contenu_prix .prix_deezer .titre_prix_deezer + div span {
    font-size: 22px;
    font-weight: bold;

}
.prix .contenu_prix .prix_deezer button {
    margin-top: 25px;
    margin-bottom: 25px;
}
.prix .contenu_prix .prix_deezer .btn_gratuit{
    margin-top: 40px;
}
.parent_recommande {
    position: relative;

}
.recommande {
    position: absolute;
    top : -34px;
    left:65px;
}

/****************************************************************/
.contenu_engagement {
    width: 80%;
    font-size: 14px;
    margin: 30px auto 25px auto;

}
/*******************************************************************/
.bande_abonnement {
    flex-direction: column;
}
.bande_abonnement .contenu_bande{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px   ;
}
/**************************************************************************************************************************/
footer {
    padding: 40px 60px;
    flex-direction: column;
    background-color: black;
    color: #fff;
}
footer .logo_store {
    text-align: center;
}
footer .logo_store i {
    font-size: 34px;
    margin-left: 20px;
}
footer .contenu_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
footer .contenu_footer .colone_footer div{
    margin-bottom: 20px;
}
footer .row_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
footer .row_footer .logo_reseaux i{
    margin-right: 20px;
}
/***********************************************************************************/
@media screen and (max-width: 930px) {
    header {
        justify-content: space-around;
        font-size: 40px;
    }
    header nav {
        display: none;
    }


    header .logo_nav {
        display: flex;

    }
    /*******************************************************************************************/
    .offre {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .offre .offre_img img{
        margin: 0;

    }
    /***************************************************************************************************************/

    .presentation {
        flex-direction: column;
        /*width: 70%;
        margin: auto;*/
    }
    .presentation img {
        display: none;
    }
    .presentation .ensemble_contenu {
        display: flex;
        justify-content: center;
    }
    .presentation .ensemble_contenu .titre_présentation {
        align-self: center;
    }
    .presentation .ensemble_contenu .ensemble_presentation {
        flex-direction: column;
        align-items: center;
    }
    /*****************************************************************************************************/
    .bande_rouge {
        flex-direction: column;
        align-items: center;
    }
    .bande_rouge div:nth-child(2) {
        order: -1;
    }
    .bande_rouge .logo_bande_rouge {
        margin-top: 20px;
    }
    /************************************************************************************************************/
    .prix .contenu_prix  {
        flex-direction: column;
    }
    .prix .contenu_prix .prix_deezer {
        margin-bottom: 20px;
    }
    .prix .contenu_prix .prix_deezer:nth-child(1) {
        margin-bottom: 50px;
    }
    /***********************************************************************************************************/
    .bande_abonnement .contenu_bande {
        flex-direction: column;
    }
    .bande_abonnement .contenu_bande .border-radius {
        margin-top: 10px;
    }

    /**********************************************************************/
    footer .contenu_footer {
        flex-direction: column;
        padding: 50px;
        /*align-items: center;*/
        
    }
    footer .contenu_footer .colone_footer {
        justify-content: center;
    }
    footer .row_footer {
        flex-direction: column;
        align-items: center;
    }
    footer .row_footer div {
        margin-bottom: 20px;
    }
    footer .row_footer div:nth-child(2) {
        order: -1;
    }
    










    }
/*************************************************************************************************************/

